{% extends 'base.twig' %}

{% block content %} 

{# BEGIN HERO SECTION #} 
<section id="hero" class="section py-20">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__left">
                <h1 class="hero__heading">{{ post.meta('hero_heading') }}</h1>
                <p class="hero__subheading">{{ post.meta('hero_subheading') }}</p> 
                <a href="https://app.squarespacescheduling.com/schedule.php?owner=25587643&appointmentType=category:Discovery" target="_blank" class="btn btn--primary"><span class="phone-icon"></span>Let's Connect</a>
            </div>
        </div>
    </div>
    <div class="hero__img"></div>
</section>
{# END HERO SECTION #}

{{ post.content }}

{# BEGIN INTRO SECTION #} 
{# <section id="intro" class="section py-18">
    <div class="container">
        <div class="section__helmet">
            <h2 class="intro__heading">{{ post.meta('section_one_heading') }}</h2>
            <p class="intro__subheading">{{ post.meta('section_one_subheading') }}</p>
        </div>
        <article class="prose">
            {{ post.meta('section_one_content') }}
            <div class="btn-wrapper">
                <a href="https://app.squarespacescheduling.com/schedule.php?owner=25587643&appointmentType=category:Discovery" target="_blank" class="btn btn--primary"><span class="phone-icon"></span>Let's Connect</a>
            </div>
        </article>
    </div>
</section> #}
{# END INTRO SECTION #}

{# BEGIN SUCCESS SECTION #}
{# <section id="success" class="section py-18">
    <div class="container">
        <div class="success__wrapper">
            <div class="success__left">
                <img src="{{ theme.path ~ '/static/img/kerby-football.webp' }}" alt="" class="success__img">
            </div>
            <div class="success__right">
                <h2 class="success__heading">{{ post.meta('section_two_heading') }}</h2>
                <p class="success__subheading">{{ post.meta('section_two_subheading') }}</p>
                <a href="https://app.squarespacescheduling.com/schedule.php?owner=25587643&appointmentType=category:Discovery" target="_blank" class="btn btn--primary"><span class="phone-icon"></span>Let's Connect</a>
            </div>
        </div>
    </div>
</section> #}
{# END SUCCESS SECTION #}

{# BEGIN BULLETS SECTION #}
{# <section id="bullets" class="section py-18">
    <div class="container">
        <div class="bullets__wrapper">
            <div id="clarity" class="bullets__card">
                <h3 class="bullets__heading">{{ post.meta('benefit_one_heading') }}</h3>
                <p class="bullets__text">{{ post.meta('benefit_one_subheading') }}</p>
            </div>
            <div id="relationships" class="bullets__card">
                <h3 class="bullets__heading">{{ post.meta('benefit_two_heading') }}</h3>
                <p class="bullets__text">{{ post.meta('benefit_two_subheading') }}</p>
            </div>
            <div id="clarity" class="bullets__card">
                <h3 class="bullets__heading">{{ post.meta('benefit_three_heading') }}</h3>
                <p class="bullets__text">{{ post.meta('benefit_three_subheading') }}</p>
            </div>
        </div>
    </div>
</section> #}
{# END BULLETS SECTION #}

{# BEGIN OPTIN SECTION #} 
{# <section id="optin" class="section py-18">
    <div class="container">
        <div class="optin__wrapper">
            <div class="optin__left">
                <p class="badge">Free Download</p>
                <h2 class="optin__heading">{{ post.meta('optin_heading') }}</h2>
                <p class="optin__subheading">{{ post.meta('optin_subheading') }}</p>
                {% include 'partials/form.twig' %}
            </div>
            <div class="optin__right">
                <img src="{{ theme.path ~ '/static/img/kerby-mockup.webp' }}" alt="" class="optin__mockup">
            </div>
        </div>
    </div>
</section> #}
{# END OPTIN SECTION #}

{# BEGIN CARE SECTION #}
{# <section id="care" class="section py-18">
    <div class="container">
        <div class="care__wrapper">
            <div class="care__left">
                <img src="{{ theme.path ~ '/static/img/kerby-swim.webp' }}" alt="" class="care__img">
            </div>
            <div class="care__right">
                <h2 class="care__heading">{{ post.meta('section_three_heading') }}</h2>
                <p class="care__subheading">{{ post.meta('section_three_subheading') }}</p>
                <a href="https://app.squarespacescheduling.com/schedule.php?owner=25587643&appointmentType=category:Discovery" target="_blank" class="btn btn--primary"><span class="phone-icon"></span>Let's Connect</a>
            </div>
        </div>
    </div>
</section> #}
{# END CARE SECTION #}

{# BEGIN GUIDE SECTION #} 
{# <section id="guide" class="section py-18">
    <div class="container">
        <div class="section__helmet">
            <h2>{{ post.meta('section_four_heading') }}</h2>
        </div>
        <article class="prose">
            {{ post.meta('section_four_content') }}
            <div class="btn-wrapper">
                <a href="https://app.squarespacescheduling.com/schedule.php?owner=25587643&appointmentType=category:Discovery" target="_blank" class="btn btn--primary"><span class="phone-icon"></span>Let's Connect</a>
            </div>
        </article>
    </div>
</section> #}
{# END GUIDE SECTION #}

{# BEGIN CONTENT SECTION #}
{# <section id="content" class="section py-18">
    <div class="container">
        <div class="section__helmet">
            <h2 class="intro__heading">{{ post.meta('section_five_heading') }}</h2>
            <p class="intro__subheading">{{ post.meta('section_five_subheading') }}</p>
        </div>
        <article class="prose">
            {{ post.content }}
        </article>
    </div>
</section> #}
{# END CONTENT SECTION #}

{# BEGIN STEPS SECTION #}
{# <section id="steps" class="section py-18">
    <div class="container">
        <div class="bullets__wrapper">
            <div class="bullets__card">
                <h3 class="bullets__heading">{{ post.meta('step_one_heading') }}</h3>
                <p class="bullets__text">{{ post.meta('step_one_subheading') }}</p>
            </div>
            <div class="bullets__card">
                <h3 class="bullets__heading">{{ post.meta('step_two_heading') }}</h3>
                <p class="bullets__text">{{ post.meta('step_two_subheading') }}</p>
            </div>
            <div class="bullets__card">
                <h3 class="bullets__heading">{{ post.meta('step_three_heading') }}</h3>
                <p class="bullets__text">{{ post.meta('step_three_subheading') }}</p>
            </div>
        </div>
    </div>
</section> #}
{# END STEPS SECTION #}

{# BEGIN CTA SECTION #} 
{% include 'partials/cta.twig' %}
{# END CTA SECTION #}

{% endblock %}