{% extends 'base.twig' %}

{% block content %} 

{# BEGIN HERO SECTION #} 
<section id="hero" class="section py-20">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__left">
                <h1 class="hero__heading">{{ post.meta('hero_heading') }}</h1>
                <p class="hero__subheading">{{ post.meta('hero_subheading') }}</p> 
                <!-- ß -->
                <a href="https://app.squarespacescheduling.com/schedule.php?owner=25587643&appointmentType=category:Discovery" target="_blank" class="btn btn--primary"><span class="phone-icon"></span>Book a Call</a>
            </div>
        </div>
    </div>
    <div class="hero__img"></div>
</section>
{# END HERO SECTION #}

{# BEGIN INTRO SECTION #} 
<section id="intro" class="section py-18">
    <div class="container">
        <div class="section__helmet">
            <h2 class="intro__heading">{{ post.meta('section_one_heading') }}</h2>
            <p class="intro__subheading">{{ post.meta('section_one_subheading') }}</p>
        </div>
        <article class="prose">
            {{ post.meta('section_one_content') }}
            <div class="btn-wrapper">
                <a href="https://app.squarespacescheduling.com/schedule.php?owner=25587643&appointmentType=category:Discovery" target="_blank" class="btn btn--primary"><span class="phone-icon"></span>Book a Call</a>
            </div>
        </article>
    </div>
</section>
{# END INTRO SECTION #}

{# BEGIN SUCCESS SECTION #}
<section id="success" class="section py-18">
    <div class="container">
        <div class="success__wrapper">
            <div class="success__left">
                <img src="{{ theme.path ~ '/static/img/kerby-football.webp' }}" alt="" class="success__img">
            </div>
            <div class="success__right">
                <h2 class="success__heading">{{ post.meta('section_two_heading') }}</h2>
                <p class="success__subheading">{{ post.meta('section_two_subheading') }}</p>
                <a href="https://app.squarespacescheduling.com/schedule.php?owner=25587643&appointmentType=category:Discovery" target="_blank" class="btn btn--primary"><span class="phone-icon"></span>Book a Call</a>
            </div>
        </div>
    </div>
</section>
{# END SUCCESS SECTION #}

{# BEGIN BULLETS SECTION #}
<section id="bullets" class="section py-18">
    <div class="container">
        <div class="bullets__wrapper">
            <div id="clarity" class="bullets__card">
                <h3 class="bullets__heading">{{ post.meta('benefit_one_heading') }}</h3>
                <p class="bullets__text">{{ post.meta('benefit_one_subheading') }}</p>
            </div>
            <div id="relationships" class="bullets__card">
                <h3 class="bullets__heading">{{ post.meta('benefit_two_heading') }}</h3>
                <p class="bullets__text">{{ post.meta('benefit_two_subheading') }}</p>
            </div>
            <div id="clarity" class="bullets__card">
                <h3 class="bullets__heading">{{ post.meta('benefit_three_heading') }}</h3>
                <p class="bullets__text">{{ post.meta('benefit_three_subheading') }}</p>
            </div>
        </div>
    </div>
</section>
{# END BULLETS SECTION #}

{# BEGIN OPTIN SECTION #} 
<section id="optin" class="section py-18">
    <div class="container">
        <div class="optin__wrapper">
            <div class="optin__left">
                <p class="badge">Free Download</p>
                <h2 class="optin__heading">{{ post.meta('optin_heading') }}</h2>
                <p class="optin__subheading">{{ post.meta('optin_subheading') }}</p>
                <form method="post" class="af-form-wrapper optin__form" accept-charset="UTF-8" action="https://www.aweber.com/scripts/addlead.pl"  >
                    <div style="display: none;">
                        <input type="hidden" name="meta_web_form_id" value="1575689959" />
                        <input type="hidden" name="meta_split_id" value="" />
                        <input type="hidden" name="listname" value="awlist6224831" />
                        <input type="hidden" name="redirect" value="https://www.aweber.com/thankyou.htm?m=default" id="redirect_138df9ef6ab632f748e753f8974c4870" />
                        <input type="hidden" name="meta_adtracking" value="LEAD_MAGNET:_Three_Truths_Coach's_Guide" />
                        <input type="hidden" name="meta_message" value="1" />
                        <input type="hidden" name="meta_required" value="name,email" />
                        <input type="hidden" name="meta_tooltip" value="" />
                    </div>
                    <div id="af-form-1575689959" class="af-form">
                        <div id="af-body-1575689959" class="af-body af-standards">
                            <div class="af-element">
                                <label class="previewLabel" for="awf_field-114076160">Full Name: </label>
                                <div class="af-textWrap">
                                    <input id="awf_field-114076160" type="text" name="name" class="text optin__input" value="" placeholder="First name"  onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " tabindex="500" />
                                </div>
                                <div class="af-clear"></div>
                            </div>
                            <div class="af-element">
                                <label class="previewLabel" for="awf_field-114076161">Email Address:</label>
                                <div class="af-textWrap">
                                    <input class="text optin__input" id="awf_field-114076161" type="text" name="email" value="" placeholder="Email address" tabindex="501" onfocus=" if (this.value == '') { this.value = ''; }" onblur="if (this.value == '') { this.value='';} " />
                                </div>
                                <div class="af-clear"></div>
                            </div>
                            <div class="af-element buttonContainer">
                                <input name="submit" class="submit optin__btn" type="submit" value="Get my guide" tabindex="502" />
                                <div class="af-clear"></div>
                            </div>
                            <div class="af-element tag" style="display:none;">
                                <input id="awf_tag-114076163" type="hidden" name="tag_114076163" value="lead magnet: three truths guide" />
                            </div>
                        </div>
                    </div>
                    <div style="display: none;"><img src="https://forms.aweber.com/form/displays.htm?id=jKzsrGwcnJysnA==" alt="" /></div>
                </form>
                <script type="text/javascript">
                    <!--
                    (function() {
                        var IE = /*@cc_on!@*/false;
                        if (!IE) { return; }
                        if (document.compatMode && document.compatMode == 'BackCompat') {
                            if (document.getElementById("af-form-1575689959")) {
                                document.getElementById("af-form-1575689959").className = 'af-form af-quirksMode';
                            }
                            if (document.getElementById("af-body-1575689959")) {
                                document.getElementById("af-body-1575689959").className = "af-body inline af-quirksMode";
                            }
                            if (document.getElementById("af-header-1575689959")) {
                                document.getElementById("af-header-1575689959").className = "af-header af-quirksMode";
                            }
                            if (document.getElementById("af-footer-1575689959")) {
                                document.getElementById("af-footer-1575689959").className = "af-footer af-quirksMode";
                            }
                        }
                    })();
                    -->
                </script>
            </div>
            <div class="optin__right">
                <img src="{{ theme.path ~ '/static/img/kerby-mockup.webp' }}" alt="" class="optin__mockup">
            </div>
        </div>
    </div>
</section>
{# END OPTIN SECTION #}

{# BEGIN CARE SECTION #}
<section id="care" class="section py-18">
    <div class="container">
        <div class="care__wrapper">
            <div class="care__left">
                <img src="{{ theme.path ~ '/static/img/kerby-swim.webp' }}" alt="" class="care__img">
            </div>
            <div class="care__right">
                <h2 class="care__heading">{{ post.meta('section_three_heading') }}</h2>
                <p class="care__subheading">{{ post.meta('section_three_subheading') }}</p>
                <a href="https://app.squarespacescheduling.com/schedule.php?owner=25587643&appointmentType=category:Discovery" target="_blank" class="btn btn--primary"><span class="phone-icon"></span>Book a Call</a>
            </div>
        </div>
    </div>
</section>
{# END CARE SECTION #}

{# BEGIN GUIDE SECTION #} 
<section id="guide" class="section py-18">
    <div class="container">
        <div class="section__helmet">
            <h2>{{ post.meta('section_four_heading') }}</h2>
        </div>
        <article class="prose">
            {{ post.meta('section_four_content') }}
            <div class="btn-wrapper">
                <a href="https://app.squarespacescheduling.com/schedule.php?owner=25587643&appointmentType=category:Discovery" target="_blank" class="btn btn--primary"><span class="phone-icon"></span>Book a Call</a>
            </div>
        </article>
    </div>
</section>
{# END GUIDE SECTION #}

{# BEGIN CONTENT SECTION #}
<section id="content" class="section py-18">
    <div class="container">
        <div class="section__helmet">
            <h2 class="intro__heading">{{ post.meta('section_five_heading') }}</h2>
            <p class="intro__subheading">{{ post.meta('section_five_subheading') }}</p>
        </div>
        <article class="prose">
            {{ post.content }}
        </article>
    </div>
</section>
{# END CONTENT SECTION #}

{# BEGIN STEPS SECTION #}
<section id="steps" class="section py-18">
    <div class="container">
        <div class="bullets__wrapper">
            <div class="bullets__card">
                <h3 class="bullets__heading">{{ post.meta('step_one_heading') }}</h3>
                <p class="bullets__text">{{ post.meta('step_one_subheading') }}</p>
            </div>
            <div class="bullets__card">
                <h3 class="bullets__heading">{{ post.meta('step_two_heading') }}</h3>
                <p class="bullets__text">{{ post.meta('step_two_subheading') }}</p>
            </div>
            <div class="bullets__card">
                <h3 class="bullets__heading">{{ post.meta('step_three_heading') }}</h3>
                <p class="bullets__text">{{ post.meta('step_three_subheading') }}</p>
            </div>
        </div>
    </div>
</section>
{# END STEPS SECTION #}

{# BEGIN CTA SECTION #} 
<section id="cta" class="section py-20">
    <div class="container">
      <div class="cta__wrapper">
          <h2 class="cta__heading">{{ post.meta('cta_heading') }}</h2>
          <div class="cta__right">
              <a href="https://app.squarespacescheduling.com/schedule.php?owner=25587643&appointmentType=category:Discovery" target="_blank" class="btn btn--primary"><span class="phone-icon"></span>Book a Call</a>
              <a href="#" class="btn btn--secondary">Learn More</a>
          </div>
      </div>
    </div>
</section>
{# END CTA SECTION #}

{# BEGIN FOOTER #} 
<footer id="footer" class="footer">
    <div class="container">
        <div class="footer__wrapper">
            <p class="footer__copyright">© 2022 - All rights reserved.</p>
            <a class="footer__link" href="#">Return to top of page</a>
        </div>
    </div>
</footer>
{# END FOOTER #}

{% endblock %}