<section id="content--{{ block.id }}" class="section py-18">
    <div class="container">
        <div class="section__helmet">
            <h2 class="intro__heading">{{ fields.heading }}</h2>
            {% if fields.description %}
            <p class="intro__subheading">{{ fields.description }}</p>
            {% endif %}
        </div>
        <article class="prose">
            {{ fields.content }}
            {% if fields.has_button %}
                <div class="btn-wrapper">
                    <a href="{{ fields.button_link }}" target="_blank" class="btn btn--primary">
                    <span class="button-icon">{{ Image(fields.button_icon).src }}</span>
                    {{ fields.button_text }}
                    </a>
                </div>
            {% endif %}
        </article>
    </div>
</section>