<section id="hero" class="section py-20">
    <div class="container">
        <div class="hero__wrapper">
            <div class="hero__left">
                <h1 class="hero__heading">{{ fields.heading }}</h1>
                <p class="hero__subheading">{{ fields.description }}</p> 
                <a href="{{ fields.button_link }}}" target="_blank" class="btn btn--primary">
                <span class="button-icon">{{ Image(fields.button_icon).src }}</span>
                {{ fields.button_text }}
                </a>
            </div>
        </div>
    </div>
    <div class="hero__img-wrapper">
        <img src="{{ fields.image }}" alt="" class="hero__img">
    </div>
</section>